
.dashboard{
    margin-top: 10rem;
    width: 100%;
    height: 69rem;
    padding: 1rem 0rem;
    display: flex;
    /* justify-content: c; */
}


.dashboard .dashcomp{
  height: 100%;
  position: relative;
}




/* sidenav */
.dashboard .dashcompleft{
   width:20%;
}

.sidenav{
    position: relative;
    width: 100%;
    height: 78rem;
    padding: 2rem;
    z-index: 10000;
    margin-top: -11rem;
    background-color: rgb(25, 22, 101);
  }
  
  .sidenav .head{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2.4rem;
      color: white;
      text-align: center;
      margin-top: 2.2rem;
  }

  .sidenav .head h2{
    font-weight: 200;
  }
  
  
  .sidenav .dashmainnav{
      margin-top: 5rem;
  }
  
  .sidenav .mainnav{
      margin-top: 4rem;
  }
  
  .sidenav .footnav{
      margin-top: 4rem;
  }
  
  .sidenav .navsec{
      margin-left: 7rem;
  }
  
  .sidenav .navsec hr{
      width: 20%;
      margin-bottom: 3rem;
      border-color: rgba(218, 229, 239, 0.229);
  }
  
  .sidenav ul{
      list-style: none;
  }
  
  .sidenav ul .navitem{
   display: flex;
   align-items: center;
   margin-top: 1.5rem;
  }
  
  .sidenav ul .navitem img{
      width: 28px;
  }
  
  .sidenav .navlink{
      color: white;
      font-size: 1.5rem;
      letter-spacing: 0.2px;
      font-weight: 200;
      padding: 1rem;
      transition: 0.2s ease;
      margin-left: 1rem;
  }
  
  .sidenav .navlink:hover{
      background-color: rgb(39, 39, 151);
      border-radius: 10px;
  }
  
  /* end side nav section */

  /* Dash Section */
/* end sidenav  */
/* dash main */
.dashboard .dashcompright{
    width: 80%;
    /* border: 2px solid black; */
    padding: 0rem 4rem;
}

.dashboard .Dash{
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
}

.dashboard .Dash .dashcont{
    /* border: 2px solid black; */
    border-radius: 5px;
}

.dashboard .Dash .Dashtop{
    height: 13%;
}

/* dashtop */
 .Dashtop .dashtopbutton{
 width: 100%;
 height: 100%;
 display: flex;
 gap: 1rem;
 /* flex-direction: column; */
 align-items: center;
}

.Dashtop .dashtopbutton .dashtopcont {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap:2rem;
    height: 9rem;
    /* margin-left: 1rem; */
    border-radius: 6px;
}



 .Dashtop .dashtopbutton .dashButton{
    width: 25%;  
}

.Dashtop .dashtopbutton .dashmid{
  width: 55%;
}

.Dashtop .dashtopbutton .dashright{
    width: 20%;
}


.Dashtop .dashtopbutton .dashButton .btn{
    border: 1px solid rgb(19, 19, 139);
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.2s ease;
}

.Dashtop .dashtopbutton .dashtopcont .createButton{
    display: none;
    position: fixed;
    top: 85%;
    right: 15%;
    z-index: 10000000;
    background-color: white;
    padding: 1.8rem;
    border-radius: 50%;
}

.Dashtop .dashtopbutton .dashtopcont .createButton img{
    width: 40px;
}

.Dashtop .dashtopbutton .btn:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Dashtop .dashtopbutton .dashButton .btn:hover{
    background-color: rgb(37, 37, 159);
    color: white;
    border-color: transparent;
    
}

.Dashtop .dashtopbutton .dashmid .btn{
    display: flex;
    align-items: center;
    gap:1rem;
    background-color: rgb(230, 230, 231);
    padding: 1rem 1.2rem;
    border-radius: 6px;
    transition: 0.2s ease;
    cursor: pointer;
    border: 1px solid transparent;
}

.Dashtop .dashtopbutton .dashmid .btn:hover{
   /* border-color: rgb(73, 73, 229); */
}



.dashtopbutton .dashmid .btn .btnleft img{
    width: 30px;
}

.dashtopbutton .dashmid .btn  .btnright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashtopbutton .dashmid .btn  .btnright h3{
    font-weight: 200;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
}

.dashtopbutton .dashmid .btn  .btnright h2{
    /* font-weight: 200; */
    margin-top: 1px;
    font-size: 1.7rem;
}




/* end dashtop */
.dashboard .Dash .Dashbot{
    height: 80%;
    margin-top: 1rem;
}

/* end dash main */
