.dashform{
    width: 50%;
    position: absolute;
    left:25%;
    top:15%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    padding-top: 2rem;
    font-family: 'Open-Sans';
    border-radius: 7px;
    transition: 0.2s ease;
    z-index: 100000;
}

.dashform .formhead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashform .formhead h2{
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.dashform .formhead h1{
 font-weight: 200;
 font-size: 4rem;
 cursor: pointer;
}

.dashform .formmain .forms{
    display: flex;
    flex-direction: column;
}

.dashform .formmain .forms label{
 margin-top: 3rem;
 font-size: 1.4rem;
}

.dashform .formmain .forms input{
  padding: 1rem;
  border-radius: 6px;
  border:1px solid rgba(0, 0, 0, 0.543);
}

.dashform .formmain .forms input[type=submit]{
  margin-top: 4rem;
  background-color: rgb(73, 73, 229);
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.2s ease;
  border-color: transparent;
}

.dashform .formmain .forms input[type=submit]:hover{
    transform: scale(1.002);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* .dash */