.bot-comp{
    width: 100%;
    padding: 2rem;
    display: flex;
    overflow: hidden;
    gap:2rem;
    flex-direction: column;
}

.bot-comp .bot-comp-head h2{
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2rem;
}

.explore-main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 47rem;
  padding: 1rem 0rem;
  overflow-y: scroll;
  position: relative;
  /* border: 2px solid black; */
}

.explore-main::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  display: none;
  transition: 0.2s ease;
}

.explore-main::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.explore-main::-webkit-scrollbar-thumb {
  background: #888; 
}

.explore-main:hover::-webkit-scrollbar {
  display: block;
}

.bot-comp-main{
    width: 100%;
    min-height: 32rem;
    display: flex;
    position: relative;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    overflow-y: auto;
    gap:2rem;
    padding: 1rem 2rem;
}



.bot-comp-main .bot-comp-group::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    display: none;
    transition: 0.2s ease;
  }
  
  .bot-comp-main .bot-comp-group::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .bot-comp-main .bot-comp-group::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .bot-comp-main .bot-comp-group:hover::-webkit-scrollbar {
    display: block;
  }

  .bot-comp-main h2{
    font-size: 1.6rem;
    font-weight: 200;
  }


  /* user */
  .user{
    width: 100%;
    min-height: 24rem;
    margin-top: 0rem;
    padding-top: 1%;
  }

  .bot-comp-main  .bot-comp-user{
    height: 100%;
    padding: 1.5rem 1rem;
    overflow-x: auto;
  }

  .bot-comp-main  .bot-comp-user .user-card{
    min-width: 20rem;
    max-width: 20rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap:1rem;
  }

.bot-comp-user .user-card .user-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}

.user-card .user-top .user-photo{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.user-card .user-top .user-photo img{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.user-card .user-button button{
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: rgb(47, 43, 167);
  color: white;
  outline: none;
  border-radius: 6px;
  border: none;
}



  /* group */
  .bot-comp-main .bot-comp-group{
    display: flex;
     gap:2rem;
     overflow-x: auto;
     overflow-y: hidden;
     padding: 1.5rem 1rem;
     padding-bottom: 2rem;
     padding-top: 0;
     padding-left: 0.4rem;
  }

.bot-comp-main .bot-comp-box{
    min-width: 26rem;
    height:23rem;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 2rem;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.bot-comp-box .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot-comp-box .box-top h3{
    font-weight: 200;
    font-size: 1.8rem;
}

.bot-comp-box .box-top p{
    font-size: 1.4rem;
}

.bot-comp-box .box-mid {
    height: 70%;
    overflow-y: auto;
    padding-bottom: 2rem;
    padding-right: 2rem;
}


.bot-comp-box .box-mid::-webkit-scrollbar {
    width: 5px;
    display: none;
    transition: 0.2s ease;
  }
  
  .bot-comp-box .box-mid::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .bot-comp-box .box-mid::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .bot-comp-box .box-mid:hover::-webkit-scrollbar {
    display: block;
  }
  
.bot-comp-box .box-mid p{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.bot-comp-box .box-mid p span{
    font-weight: 200;
}

.bot-comp-box .box-bot button{
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: rgb(47, 43, 167);
    color: white;
    outline: none;
    border-radius: 6px;
    border: none;
}
 .box-bot{
    display: flex;
    gap:1rem;
    align-items: center;
}

.box-bot-icon{
    width: 100%;
   display: flex;
   gap:2rem;
   align-items: center;
}

 .box-bot-icon img{
    width: 30px;
    cursor: pointer;
}

/* end group */